<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <nav>
            <span>Fresh Cart</span> 
        </nav>
        <hr>
    </div>
    <div class="content">
        <h1>Welcome!</h1>
        <p>Welcome to FreshCart - Your Ultimate Online Grocery Store! Explore a diverse range of farm-fresh produce, pantry essentials, and delightful treats. Shop with ease, enjoy doorstep delivery, and experience a new level of convenience. Embrace hassle-free grocery shopping today with FreshCart!</p>
    </div>
    <p>Are You <a href="/user_registration">User</a> | <a href="/adminlogin">Admin</a></p>
</body>
</html>